<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}КСК Каскад{% endblock %}</title>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap" rel="stylesheet">
	<style>@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');</style>

	<link rel="stylesheet" href="{{ SITEURL }}/theme/css/index.css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap" rel="sheet">
	<style>@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');</style>
</head>
<body>
	<div class="container">
		<div class="buttons">
		<a class="button" href="/"><p>Главная</p></a>
		<a class="button" href="/trainers"><p>Список тренеров</p></a>
		<a class="button" href="/horses"><p>Лошади</p></a>
		<a class="button" href="/training"><p>Записаться на занятия</p></a>
		</div>

		{% block content %}{% endblock %}
	</div>
</body>
</html>