<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Тренера | КСК Каскад</title>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap" rel="stylesheet">
	<style>@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');</style>

	<link rel="stylesheet" href="{{ SITEURL }}/theme/css/iindex.css">
</head>
<body>
	<div class="container">
		<div class="buttons">
		<div class="button" onclick="window.location.href = 'https://';"><p>Главная страница</p></div>
		<div class="button" onclick="window.location.href = 'https://';"><p>О клубе</p></div>
		<div class="button" onclick="window.location.href = 'https://';"><p>Стоимость обучения</p></div>
		<div class="button" onclick="window.location.href = 'https://';"><p>Контакты</p></div>
		</div>

	</div>
</body>
</html>