<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap" rel="stylesheet">
	<style>@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');</style>

	<link rel="stylesheet" href="{{ SITEURL }}/theme/css/index.css">
</head>
<body>
	<div class="container">
		<div class="header">
			<div class="emblem">
				<img src="{{ SITEURL }}/theme/images/emblem.png">
			</div>
			<div class="title">
				<p>КСК КАСКАД</p>
			</div>
			<div class="description">
				Random page patrol is a Wikipedia communal patrol which refers to the process of regularly and frequently checking randomly selected pages through Special:Random. The primary goal of random page patrollers is to ensure random articles conform to Wikipedia's policies on content and style as well as the related guidelines. Secondarily, that style and formatting are consistent and meets the basic principles laid out in Wikipedia's Manual of Style. The guidelines for the New pages patrol and Recent changes patrol also apply, merely the search method is different.
			</div>
		</div>
		<div class="content">
			456
		</div>
	</div>
</body>
</html>