<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap" rel="stylesheet">
	<style>@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');</style>

	<link rel="stylesheet" href="{{ SITEURL }}/theme/css/index.css">
</head>
<body>
	<div class="container">
		<div class="header">
			<div class="emblem">
				<img src="{{ SITEURL }}/theme/images/emblem.png">
			</div>
			<div class="title">
				<p>КСК КАСКАД</p>
			</div>
			<div class="description">
				Описание
			</div>
		</div>
		<div class="content">
			<div class='usl'></div>
			<div class="usl"></div>
			<div class="usl"></div>
			<div class="usl"></div>
			<div class="usl"></div>
		</div>
	</div>
</body>
</html>