{% extends "base.html" %}

{% block content %}

<div class="header">
	<div class="emblem">
		<img src="{{ SITEURL }}/theme/images/emblem.png">
	</div>
	<div class="title">
		<p>КСК КАСКАД</p>
	</div>
	<div class="description">
		<p>Описание: </p>
		<p>Что-то там...</p>
	</div>
</div>
<div class="content">
	<div class='usl' style='background-image: url("{{ SITEURL }}/theme/images/VV2.jpg")'><p>Выездка</p></div>
	<div class="usl" style='background-image: url("{{ SITEURL }}/theme/images/KK2.jpg")'><p>Конкур</p></div>
	<div class="usl" style='background-image: url("{{ SITEURL }}/theme/images/Vol.jpg")'><p>Вольтижировка</p></div>
	<div class="usl" style='background-image: url("{{ SITEURL }}/theme/images/Dg.jpg")'><p>Джигитовка</p></div>
	<div class="usl" style='background-image: url("{{ SITEURL }}/theme/images/STRLjpg.jpg")'><p>Конная стрельба из лука</p></div>
</div>
{% endblock %}