body, html {
	margin: 0;
}
html {
	font-size: 25px;
	font-family: 'PT Sans Narrow', sans-serif;
}

.container {
	padding: 73px;
}

.header {
	
}
.header .emblem img {
	display: block;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 500px;
}
.header .title p {
	font-size: 38px;
	text-align: center;
}

.content {
	margin-top: 66px;
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	justify-content: center;
}

.title {
	color: #fff;
}

.description {
	background-color: #fff;
}

.ppp {
	background-color: #fff;
}

.usl {
	width: 346px;
	height: 300px;
	background: #f00;
	margin-left: 11px;
	min-width: 346px;
	flex-grow: 1;
	max-width: 410px;
	margin-top: 11px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.usl p {
	margin: auto;
	/*width: 100%;
	height: 100%;*/
	color: #fff;
	font-size:  40px;
}

.usl p1 {
	margin: auto;
	margin-top: 40px;
	/*width: 100%;
	height: 100%;*/
	color: #fff;
	font-size:  50px;
}

.bgst {
	justify-content: center;
/*	opacity: 0.6;*/
}
