body, html {
	margin: 0;
}
html {
	font-size: 25px;
	font-family: 'PT Sans Narrow', sans-serif;
	color: #e4f1f8;
	letter-spacing: 0.035em;
}

.container {
	padding: 73px;
	background-color: #0d42b6;
}

.header {
	
}
.header .emblem img {
	display: block;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 500px;
}
.header .title p {
	font-size: 38px;
	text-align: center;
	font-weight: bold;
}

.content {
	margin-top: 66px;
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	justify-content: center;
}

.description {
	background-color: #4273DB;
	padding: 1em;
	border-radius: 8px;
}

.description > p {
  margin: 0 0 0.5em 0;
}

.description > p:last-child {
   margin: 0;
}

.tre {
	width: 146px;
	height: 100px;
	/*min-width: 346px;
	flex-grow: 1;
	max-width: 410px;
	margin-top: 11px;*/
}

.usl {
	width: 346px;
	height: 300px;
	margin-left: 11px;
	min-width: 346px;
	flex-grow: 1;
	max-width: 410px;
	margin-top: 11px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,0.50);
	background-blend-mode: multiply;
	cursor: pointer;
	transition: all 0.1s ease-in;
	border-radius: 8px;
}
.usl:hover {
	background-color: rgba(0,0,0,0.40);
}

.usl p {
	margin: auto;
	margin-top: 1em;
	font-size:  40px;
}